<template>
  <div id="q-app">
    <router-view />
  </div>
</template>
<script>

export default {
  name: 'App'
}
</script>
<style>
h1{
  margin: 5px 5px 5px!important;
}
h2{
    margin: 5px 5px 5px;
}
h4{
    margin: 5px 5px 5px;
}
h6{
   margin: 5px 5px 5px;
}

</style>
